[submodule "external/sapf"]
	path = external/sapf
	url = https://github.com/lfnoise/sapf
[submodule "external/isobar"]
	path = external/isobar
	url = https://github.com/ideoforms/isobar
[submodule "external/strudel"]
	path = external/strudel
	url = https://codeberg.org/uzu/strudel
[submodule "external/Orca"]
	path = external/Orca
	url = https://github.com/hundredrabbits/Orca
[submodule "external/cane"]
	path = external/cane
	url = https://github.com/xiashj24/cane
[submodule "external/signalflow"]
	path = external/signalflow
	url = https://github.com/ideoforms/signalflow
[submodule "external/sc-book-examples"]
	path = external/sc-book-examples
	url = https://github.com/tado/sc-book-examples
[submodule "external/uSEQ"]
	path = external/uSEQ
	url = https://github.com/Emute-Lab-Instruments/uSEQ
[submodule "external/klang"]
	path = external/klang
	url = https://github.com/nashaudio/klang
